services:
  backend:
    build:
      context: .
      dockerfile: dockerfile.backend
    container_name: proyecto2_backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: dockerfile.frontend
    container_name: proyecto2_frontend
    restart: always
    environment:
      - API_BASE_URL=http://backend:8000
    ports:
      - "8001:8001"
    depends_on:
      - backend

  db:
    image: pgvector/pgvector:pg16
    container_name: proyecto2_db
    restart: always
    environment:
      POSTGRES_USER: dianananez
      POSTGRES_PASSWORD: proyecto2bd
      POSTGRES_DB: multimedia_db
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: